:root {
  --font-family: "Poppins", sans-serif;
}

body{
  width: 595px;
  height: 842px;

}

#bentoFlexbox{
  display: flex;
  width: 555px;
  height: 812px;
  margin: 15px 20px;
  flex-wrap: wrap;
  align-content: start;

}

.start-bento{
  display: flex;
  height: 124px;
}

.myphoto{
  width: 124px;
  height: 124px;
  border-radius: 12px;
  object-fit: contain; 
  background-color: rgb(229, 229, 224);

}

#nameBox{
  background: #f0f0f0;
  border-radius: 12px;
  width: 124px;
  height: 124px;  
  margin: 0 20px;
}

#nameBox p{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  color: #000;
  margin: 12px 12px 46px;
}

#nameBox .info h1{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 104%;
  color: #000;


}

.info{
  margin: 0 12px 12px 7px;
  width: 100px;
  height: 39px;

}

#nameBox .info h2{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  padding-top: 5px;
  color: #5c5c5c;
  width: 110%;
}

#lenguagesBox{
  display: flex;
  flex-wrap : wrap;
  border-radius: 12px;
  width: 267px;
  height: 124px;
  background: #f0f0f0;
}

.nameLenguage{
  width: 58px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 104%;
  color: #000;
  padding-left: 12px;
  padding-right: 17px;

}

.galicianProgressBar{
  border-radius: 3px;
  height: 11px;
  background: #28d979;

}

.levelLenguage, .nameLenguage{
  margin-bottom: 22px;
}

.title{
  width: 100%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #000;
  margin: 12px 176px 16px 12px;
}

#continue-bento{
  margin: 20px 20px 0px 0px;
  border-radius: 12px;
  width: 411px;
  height: 359px;
  background: #f0f0f0;

}

.jobList{
}

.topBar{
  display: flex;
  width: 371px;
  height: 16px;

}

#experienceBox{
  border-radius: 12px;
  width: 411px;
  height: 359px;
  background: #f0f0f0;
  
}

#experienceBox .title{
  width: 0%;
  font-size: 14px;
  margin: 12px 232px 16px 12px;
}

#lastJob{
  background: #28d979;
  border-radius: 10px;
  padding: 8px 0px 8px 8px;
  width: 387px;
  height: 76px;
}



.date{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 8px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin: 1px 232px 10px 4px;
  white-space: nowrap;
}

.most-recent{
  border-radius: 59px;
  width: 61px;
  height: 16px;
  background: rgba(126, 115, 18, 0.4);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 8px;
  text-align: center;
  align-content: center;
  color: #ddf163;
}

.aboutJob{
  display: flex;
  
}